* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

button {
  border: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-size: 16px; }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 15px; } }
  @media only screen and (max-width: 700px) {
    body {
      font-size: 11px; } }

.text {
  color: #2d2c2e; }
  .text__unique {
    color: #dc173f;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer; }
  .text__small {
    font-size: 0.5em; }
  .text__standard {
    font-size: 0.8em; }
    .text__standard--bold {
      font-weight: 700; }
  .text__normal {
    font-size: 1em; }
    .text__normal--italic {
      font-style: italic; }
    .text__normal--placeholder {
      color: #a7a9ac;
      font-weight: 300; }
    .text__normal--sub {
      color: #a7a9ac;
      text-transform: uppercase; }
  .text__big {
    font-size: 2em;
    font-weight: 700;
    font-style: italic; }
  .text__bold {
    font-size: 1rem;
    font-weight: 700; }
    .text__bold--a {
      color: #a7a9ac;
      text-decoration: underline; }
    .text__bold--b {
      font-style: italic; }
  .text__upper {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase; }
    .text__upper--a {
      color: #a7a9ac; }
    .text__upper--b {
      color: #a7a9ac;
      font-size: 0.8em; }
    .text__upper--title {
      font-size: 1.5em; }
  .text__eyecatch {
    color: #0266b3;
    font-weight: 700; }
    .text__eyecatch--a {
      font-size: 0.8rem; }
    .text__eyecatch--b {
      font-size: 1em; }
    .text__eyecatch--c {
      font-size: 1em;
      font-style: italic; }
    .text__eyecatch--d {
      font-size: 1.2em; }

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  min-height: auto;
  padding: 0 30px 50px;
  background-color: #ffe1ad;
  overflow: auto; }

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  padding: 0 250px;
  background: #fff;
  box-shadow: 0px 26px 35px -42px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  @media only screen and (max-width: 1250px) {
    .nav {
      padding: 0 150px; } }
  @media only screen and (max-width: 1100px) {
    .nav {
      padding: 0 100px; } }
  .nav__container {
    width: 100%;
    height: 100%; }
  .nav .menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%; }
    .nav .menu__questions {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 40%; }
    .nav .menu__addQuestion {
      font-size: 1.5em;
      border-radius: 50px;
      margin-left: 20px;
      padding: 0 7px;
      background-color: black;
      color: white; }
    .nav .menu__options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 60%;
      white-space: nowrap; }
    .nav .menu__sort {
      margin-left: 50px; }
    .nav .menu__sortBy {
      cursor: pointer; }
    .nav .menu .radioLabel {
      margin-left: 5px; }
    .nav .menu .radioInput--last {
      margin-left: 15px; }
  .nav .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%; }
    .nav .searchForm__input {
      width: 75%;
      height: 40px;
      padding: 0 30px;
      border: 1px solid #eeeeee;
      background-color: #fbfbfb;
      color: #a7a9ac; }
    .nav .searchForm__submit {
      width: 25%;
      height: 40px;
      margin-left: 30px;
      border: 1px solid #a7a9ac;
      background-color: #fff; }
      .nav .searchForm__submit::placeholder {
        color: #a7a9ac; }

.questionsContainer {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 150px 220px 0;
  box-shadow: 8px 2px 20px -7px rgba(0, 0, 0, 0.2);
  background: #fbfbfb; }
  @media only screen and (max-width: 1250px) {
    .questionsContainer {
      padding: 150px 110px 0; } }
  @media only screen and (max-width: 1100px) {
    .questionsContainer {
      padding: 150px 60px 0; } }
  .questionsContainer__inner {
    width: 100%;
    height: 100%;
    box-shadow: 2px -8px 20px -7px rgba(0, 0, 0, 0.3); }
  .questionsContainer__loadMore {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 20px; }

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding-bottom: 40px;
  border-bottom: 1px solid #a7a9ac; }
  .question__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%; }
    .question__main .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 30%;
      padding-left: 20px;
      background-color: #dff3fd; }
      .question__main .title__photo {
        width: 50px;
        height: 50px;
        margin-right: 30px; }
        .question__main .title__photo > * {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
    .question__main .activities {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 70%; }
      .question__main .activities__name {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-width: calc(100% / 6);
        height: 100%;
        padding: 0 25px;
        background: #dff3fd; }
      .question__main .activities__name-text {
        display: block;
        width: 100%;
        padding: 5px 0;
        border-top: 2px solid #a7a9ac;
        text-align: center; }
      .question__main .activities .comment {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: calc(100% / 6 - 10px);
        height: calc(100% - 30px);
        margin: 30px 0 0 10px;
        padding: 20px 0 10px;
        background: #eeeeee; }
        .question__main .activities .comment__photo {
          width: 50px;
          height: 50px; }
          .question__main .activities .comment__photo > * {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
        .question__main .activities .comment__name {
          padding-top: 10px;
          border-top: 1px solid #a7a9ac; }
        .question__main .activities .comment__decoration {
          position: absolute;
          bottom: -5px;
          width: 10px;
          height: 10px;
          background-color: #a7a9ac;
          border-radius: 50%; }
      .question__main .activities .moreActivities {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: calc(100% / 6 - 10px);
        height: calc(100% - 30px);
        margin: 30px 0 0 10px;
        padding: 20px 0 10px; }
        .question__main .activities .moreActivities__number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px; }
        .question__main .activities .moreActivities__name {
          word-wrap: break-word;
          text-align: center; }
  .question .informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(25% + 30px);
    height: 100%;
    padding: 110px 20px 0 50px; }

.profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }
  .profile__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 800px;
    background: #fff; }
    @media only screen and (max-width: 1250px) {
      .profile__container {
        width: 70%; } }
    @media only screen and (max-width: 700px) {
      .profile__container {
        width: 100%;
        height: auto; } }
  .profile__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #a7a9ac; }
  .profile__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; }
    @media only screen and (max-width: 700px) {
      .profile__header {
        height: auto;
        padding-top: 10px; } }
  .profile__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%; }
  .profile__user-photo {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 50%; }
  .profile__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #a7a9ac; }
    @media only screen and (max-width: 700px) {
      .profile__info {
        flex-direction: column;
        align-items: center;
        height: auto; } }
  .profile__info-text {
    margin-right: 20px; }
    @media only screen and (max-width: 700px) {
      .profile__info-text {
        margin-right: 0;
        margin-bottom: 10px; } }
  .profile__info-text-important {
    margin-right: 5px; }
  .profile__main {
    width: 100%;
    height: auto; }
  .profile__carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px; }
    .profile__carousel .carousel-left {
      width: 50px;
      height: 50px;
      background: black; }
    .profile__carousel .carousel-right {
      width: 50px;
      height: 50px;
      background: black; }
  .profile__history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .profile__history-stats {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px; }
    @media only screen and (max-width: 700px) {
      .profile__history-stats {
        flex-wrap: wrap; } }
  .profile__history-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    max-width: 85px;
    min-width: 85px;
    height: 85px;
    background-color: #dff3fd;
    text-align: center; }
    .profile__history-stat:not(:last-child) {
      margin-right: 25px; }
    .profile__history-stat--1 {
      transform: rotate(20deg); }
      .profile__history-stat--1 > * {
        transform: rotate(-20deg); }
    .profile__history-stat--2 {
      transform: rotate(150deg); }
      .profile__history-stat--2 > * {
        transform: rotate(-150deg); }
    .profile__history-stat--3 {
      transform: rotate(50deg); }
      .profile__history-stat--3 > * {
        transform: rotate(-50deg); }
    .profile__history-stat--4 {
      transform: rotate(75deg); }
      .profile__history-stat--4 > * {
        transform: rotate(-75deg); }
  .profile__related-users {
    margin-top: 30px; }
  .profile__related-users-title {
    text-align: center; }
  .profile__related-users-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100px;
    margin-top: 10px; }
  .profile__related-users-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 85px;
    height: 100%; }
  .profile__related-users-user-backgroud {
    width: 100%;
    height: 85px;
    background: repeating-linear-gradient(45deg, rgba(211, 211, 211, 0.6), white 1px); }
  .profile__related-users-user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .profile__related-users-user-img > img {
      width: 70%;
      height: 70%;
      border-radius: 50px; }
  .profile__related-users-name {
    text-align: center; }
  .profile__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 500px;
    margin-top: 50px; }
    @media only screen and (max-width: 700px) {
      .profile__footer {
        height: auto; } }
  .profile__footer-title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center; }
  .profile__footer-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, rgba(211, 211, 211, 0.6), white 1px); }
    @media only screen and (max-width: 700px) {
      .profile__footer-background {
        padding: 30px 10px; } }
  .profile__footer-img {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px; }
    .profile__footer-img > img {
      width: 100%;
      height: 100%;
      border-radius: 50px; }
  .profile__footer-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
