// *********************************
// Colors
// *********************************
$background-color: #ffe1ad;
$component-backgroud-color: #fff;
$input-border-color: #eeeeee;
$input-background-color: #fbfbfb;
$helper-color: #a7a9ac;
$addQuestion-color: #0266b3;
$font-helper-color: #fff;
$helper-background-color: #fbfbfb;
$important-color: #dc173f;
$question-background-color: #dff3fd;
$question-secondary-color: #eeeeee;
$question-color: #0266b3;

// *********************************
// Font
// *********************************
$main-font: 'Lato', sans-serif;
