// *********************************
// Colors
// *********************************
$background-color-a: #fff;
$background-color-b: #fbfbfb;
$background-color-c: #dff3fd;
$background-color-d: #ffe1ad;

$important-color-a: #0266b3;
$important-color-b: #dc173f;
$usefull-color-a: #eeeeee;
$usefull-color-b: #a7a9ac;
$usefull-color-c: #e5e5e5;
$usefull-color-d: #acaeb1;

$font-color: #2d2c2e;


// *********************************
// Font
// *********************************
$main-font: 'Lato', sans-serif;
