// *********************************
// Nav
// *********************************

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  padding: 0 250px;
  background: $background-color-a;
  box-shadow: 0px 26px 35px -42px rgba(0,0,0,0.2);
  z-index: 1;

  @include respond-at-width(1250px) {
    padding: 0 150px;
  }

  @include respond-at-width(1100px) {
    padding: 0 100px;
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;

    &__questions {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 40%;
    }

    &__addQuestion {
      font-size: 1.5em;
      border-radius: 50px;
      margin-left: 20px;
      padding: 0 7px;
      background-color: black;
      color: white;
    }

    &__options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 60%;
      white-space: nowrap;
    }

    &__sort {
      margin-left: 50px;
    }

    &__sortBy {
      cursor: pointer;
    }

    .radioLabel {
      margin-left: 5px;
    }

    .radioInput {

      &--last {
        margin-left: 15px;
      }
    }
  }

  .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;

    &__input {
      width: 75%;
      height: 40px;
      padding: 0 30px;
      border: 1px solid $usefull-color-a;
      background-color: $background-color-b;
      color: $usefull-color-b;
    }

    &__submit {
      width: 25%;
      height: 40px;
      margin-left: 30px;
      border: 1px solid $usefull-color-b;
      background-color: $background-color-a;

      &::placeholder {
        color: $usefull-color-b;
      }
    }
  }
}
